.screen-author {

  &__header {
    margin-bottom: 20px;
  }

  &__title {
    line-height: 36px;
    color: #fff;
    text-align: center;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
  }
}